Django==1.5.1
Markdown==2.3.1
PyYAML==3.10
South==0.8.1
argparse==1.2.1
defusedxml==0.4.1
distribute==0.6.34
django-filter==0.6
django-mptt==0.5.5
django-oauth-plus==2.1.2
djangorestframework==2.3.6
httplib2==0.8
oauth2==1.5.211
openpyxl==1.6.2
psycopg2==2.5.1
wsgiref==0.1.2
