{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <!-- Meta info -->
        <meta name="author" content="Fabio Rueda y David Barrag&aacute;n" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Formulas Electorales (Beta Version){% endblock %}</title>

        <!-- css -->
        <style type="text/css" media="all">
            @import "/static/css/style.css";
            @import url(http://fonts.googleapis.com/css?family=Unlock|Signika:400,600,700);
        </style>
        <link type="text/css" href="/static/css/jquery-ui.css" rel="stylesheet" />     
        {% block css_extra %} {% endblock %}

        <!-- js -->
        <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        {% block js_extra %}{% endblock %}

    </head>

    <body>
        <!-- Block content -->
        <div class="content">
            <div class="header_right">
                <div class="top_info">
                    <div class="top_info_right">
                        <p><b>{% trans 'No estás loggeado' %}</b> <a href="#" title="{% trans 'Ir al formulario de log in'%}">{% trans 'Log in' %}</a> {% trans 'o' %} <a href="#" title="{% trans 'Ir al formulario de registro' %}">{% trans 'registrate' %}</a></p>
                    </div>
                </div>

                <div class="bar">
                    <ul>
                        <li class="slogan"></li>
                        <li><a href="#" accesskey="b">comicio.nombre</a></li>
                        <li><a href="#" accesskey="a">continente.nombre_sitio</a></li>
                        <li class="active"><a href="#" accesskey="p">sitio.nombre_sitio</a></li>
                    </ul>
                </div>
            </div>

            <div class="logo">
                <h1><a href="{% url index %}" title="Demoleaks">Demo<span class="red">Leaks</span></a></h1>
                <p>{% trans 'Analizando nuestra democracia' %}</p>
            </div>

            <div class="search_field">
                <form method="post" action="/search/">{% csrf_token %}
                    <p>
                        <span class="search">{% trans 'Busca demoleaks' %}</span>&nbsp;&nbsp;
                        <input type="text" name="search" class="search" />
                        <input type="submit" value="Buscar" class="button" />
                    </p>
                </form>
            </div>

            <div class="newsletter">
                <div class="bandera">
                    <p><img src="/static/flag-icons/flags_iso/24/es.png" /></p>
                </div>
            </div>

            {% block main %} 
            {% endblock %}

            <!-- Footer -->
            <div class="footer">
                <p>{% trans 'Demoleaks creado por:' %} <a href="http://blog.avances123.com/" title="{% trans 'Visita el blog de avances123' %}">Avances123</a> {% trans 'y' %} <a href="http://www.mipensadero.com" title="{% trans 'Visita el blog de bameda' %}">bameda</a></p>
            </div>

        </div>
    </body>

</html>

