<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="author" content="Fabio Rueda" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Formulas Electorales (Beta Version){% endblock %}</title>
		<style type="text/css" media="all">
			@import "/static/style.css";
			@import url(http://fonts.googleapis.com/css?family=Unlock|Signika:400,600,700);
		</style>
		<link type="text/css" href="/static/jquery-ui/css/jquery-ui.css" rel="stylesheet" />     
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>

		{% block demoleakbar %}
		<!-- jquery-ui para la progress bar-->
		<script type="text/javascript">
			$(function(){
				// Progressbar
				$("#progressbar-n").progressbar({
					"value": {{ sitio.democracia }}
				});
				// http://jqueryui.com/demos/progressbar/#animated
				$("#progressbar-n").css({ 'background': 'white' });
				{% if sitio.democracia < 12 %}
					$("#progressbar-n > div").css({  'background': 'green'   });
				{% else %}
					$("#progressbar-n > div").css({  'background': 'red'   });
				{% endif %}


			});
		</script>
		{% endblock %}
		
		
		{% for p in lista_partidos %}
		<script type="text/javascript">
			$(function(){
				// Progressbar
				$("#progressbar-{{p.id}}").progressbar({
					"value": {{ p.grado_democracia }}
				});
				// http://jqueryui.com/demos/progressbar/#animated
				$("#progressbar-{{p.id}}").css({ 'background': 'white' });
				$("#progressbar-{{p.id}} > div").css({  'background': 'green'   });

			});
		</script>
		{% endfor %}


		<!-- AJAX piechart votos-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">

			// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);

		// Callback that creates and populates a data table, 
		// instantiates the pie chart, passes in the data and
		// draws it.
		function drawChart() {

			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Partido');
			data.addColumn('number', 'Votos');
			
			data.addRows([
					{% for p in lista_partidos %}
					['{{p.nombre}}',{{ p.votos_numero }}],
					{% endfor %}
					]);

			// Set chart options
			var options = {'title':'Porcentaje de votos en {{ sitio.nombre_sitio }}',
				'width':360,
				'height':200,
				'backgroundColor':'#f4f4f4'
				};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart_votos'));
			chart.draw(data, options);
		}

		</script>
		<!-- AJAX piechart escaños-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">

			// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);

		// Callback that creates and populates a data table, 
		// instantiates the pie chart, passes in the data and
		// draws it.
		function drawChart() {

			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Partido');
			data.addColumn('number', 'Electos');

			data.addRows([
					{% for p in lista_partidos %}
					['{{p.nombre}}',{{ p.electos }}],
					{% endfor %}
					]);

			// Set chart options
			var options = {'title':'Porcentaje de Escaños en {{ sitio.nombre_sitio }}',
				'width':365,
				'height':200,
			    'backgroundColor':'#f4f4f4'
				};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart_electos'));
			chart.draw(data, options);
		}

		</script>

</head>
<body>
	<div class="content">
		<div class="header_right">
			<div class="top_info">
				<div class="top_info_right">
					<p><b>You are not Logged in!</b> <a href="#">Log in</a>  or <a href="#">register</a> to start downloading music!</p>					
				</div>		
			</div>
					
			<div class="bar">
				<ul>
					<li class="slogan"></li>
					<li><a href="/{{ comicio.id}}" accesskey="b">{{ comicio.nombre }}</a></li>
					<li><a href="/{{ comicio.id}}/{{ continente.id }}" accesskey="a">{{continente.nombre_sitio}}</a></li>
					<li class="active"><a href="#" accesskey="p">{{ sitio.nombre_sitio }}</a></li>
					
				</ul>
			</div>
		</div>
			
		<div class="logo">
			<h1><a href="#" title="Demoleaks">Demo<span class="red">Leaks</span></a></h1>
			<p>Analizando nuestra democracia</p>
		</div>
		
		<div class="search_field">
			<form method="post" action="?">
				<p> <span class="search">Busca demoleaks</span>&nbsp;&nbsp; <input type="text" name="search" class="search" /> <input type="submit" value="Buscar" class="button" /></p>
			</form>
		</div>
		

		
		<div class="newsletter">
			<div class="bandera">
				<p><img src="/static/flag-icons/flags_iso/24/es.png" /></p>
			</div>
		</div>
		
		<div class="subheader">
        	<div class="subheader_izq">
		  		<div class="nombre_sitio"><a href="#" title="{{ sitio.nombre_sitio }}">{{ sitio.nombre_sitio }}</a></div>
          		<div class="atributos_sitio">
        			<ul> 
            			<li>Numero de votos contabilizados:  </li>
            			<li>Numero de abstenciones:</li>
           				<li>Numero de votos en blanco:  </li>
            			<li>Numero de votos nulos: </li>
            			
            		</ul>
            	</div>
            	<div class="atributos_sitio_valores">
        			<ul> 
            			<li><span class="numero">{{ sitio.votos_contabilizados}}</span></li>
            			<li><span class="numero">{{ sitio.votos_abstenciones }}</span></li>
           				<li><span class="numero">{{ sitio.votos_blancos}}</span> </li>
            			<li><span class="numero">{{ sitio.votos_nulos}}</span></li>
            			
            		</ul>
            	</div>
        	</div>
        
            <div class="subheader_der">
            	<div class="atributos_sitio">
            	<ul> 
            			<li><h1>Demoleak</h1></li>
            			</ul>
        			</div> 
            	<div class="barra_nivel" style="display:inline">
            		
					<div id="progressbar-n"></div>
				</div>
        	</div>
		</div>

	
   		<div class="contenedor_gcharts">
			<div id="chart_votos" style="float: left;margin-right: 18px;"></div>
			<div id="chart_electos"></div>
		</div>
    
    
    
    	
		<div class="left">
			<div class="left_articles">
            
            
            
				<h2><a href="#">Lista de partidos</a></h2>
				<p>Aqui puedes ver uno a uno datos estadisticos sobre cada partido</p>
			</div>
			
			{% for p in lista_partidos %}			
			<div class="lt"></div>
			<div class="lbox">
				<h2>{{ p.nombre }}</h2>
				<div class="thumb">
					<img src="/static/partidos/pp.png" alt="" />
					
				</div>
				<div class="barra_partido">
					<div id="progressbar-{{p.id}}"></div>
				</div>	
			</div>
			{% endfor %}
			
		</div>	
		<div class="right">
						
			<div class="rt"></div>
			<div class="right_articles">
				<p><img src="/static/images/image.gif" alt="Image" title="Image" class="image" /><b>Un sitio con anomalia</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam <a href="#">erat volutpat</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis <a href="#">nisl ut aliquip ex</a>.</p>
			</div>
			<div class="rt"></div>
			<div class="right_articles">
				<p><img src="/static/images/image.gif" alt="Image" title="Image" class="image" /><b>Un partido con anomalia</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam <a href="#">erat volutpat</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis <a href="#">nisl ut aliquip ex</a>.</p>
			</div>
		</div>	
		
		<div class="lista_sitios">
        	
          		
          		<div class="wrapper">
        			<ul> 
        				{% for s in lista_sitios %}
            			<li><a href="/{{comicio.id}}/{{s.id}}"> {{s.nombre_sitio}}</a></li>
            			{% endfor %}
            		</ul>
            		<br />
            	</div>
        
		</div>
		
		
		
		<div class="footer">
			<p><a href="#">RSS Feed</a> | <a href="#">Contact</a> | <a href="#">Accessibility</a> | <a href="#">Products</a> | <a href="#">Disclaimer</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br />
			&copy; Copyright 2006 Internet Music, Design: Luka Cvrk - <a href="http://www.solucija.com/" title="What's your solution?">Solucija</a></p>
		</div>
	</div>
</body>
</html>
