{% extends 'base.html' %}

{% block primer_cuadro %}
<h2> Que es demoleaks?</h2>
<p>Elige que comicio quieres estudiar</p>
{% endblock %}

{% block contenedor_gcharts %}
{% endblock %} 


{% block listado_inferior %}
<div class="left_articles">
	<h2>Lista de comicios</h2>
	<p>Elige que comicio quieres estudiar</p>
</div>
{% for p in lista_comicios %}			
<div class="lt"></div>
<div class="lbox">
	<h2><a href="/{{ p.id }}">{{ p.nombre }}</a></h2>
	
	<div class="barra_partido">
		<div id="progressbar-{{p.id}}"></div>
	</div>	
</div>
{% endfor %}
{% endblock %}
